{% block appointment_list %}
    <ul class="bookings-per-day">
        {% for appointment in appointments %}
            <li class="booking-per-day-item">
                <div class="row">
                    <span class="time-area-hour col-4">
                        {{ appointment.startAt|date('H:i') }} - {{ appointment.endAt|date('H:i') }} <br />
                        <i style="font-size: 9px;">
                            <i class="fa fa-calendar" aria-hidden="true"></i> {{ appointment.startAt|date('Y-m-d') }}
                        </i>
                    </span>
                    <span class="time-area-label col-7">
                        {{ canManage('ADMIN_ROLE') or appointment.userId == loggedUser().id ? appointment.title : 'Privet' }}
                    </span>
                    <span class="col-1">
                        {% if canManage('ADMIN_ROLE') or appointment.userId == loggedUser().id  %}
                            <a data-toggle="collapse" href="#appointment-collapse-{{ appointment.id }}" role="button" aria-expanded="false" aria-controls="appointment-collapse-{{ appointment.id }}">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </span>
                </div>
            </li>

            {% if canManage('ADMIN_ROLE') or appointment.userId == loggedUser().id %}
                <div class="collapse multi-collapse" id="appointment-collapse-{{ appointment.id }}">
                    <div class="card card-body">
                        <h5>Subject : {{ appointment.title }}</h5>
                        <hr />
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Period : {{ appointment.startAt|date('H:i') }} at {{ appointment.endAt|date('H:i') }}</p>
                        <p><i class="fa fa-cube" aria-hidden="true"></i> Approved : {{ appointmentStatus(appointment.status)  }}</p>
                        <p><i class="fa fa-users" aria-hidden="true"></i> Participants :
                            {% for user in getAppointmentParticipants(appointment.id) %}
                                {{ user.fullname }},
                            {% endfor %}
                        </p>

                        <hr />
                        <div class="row">
                            {% if canManage('ADMIN_ROLE') %}
                                <a href="/appointment/approve/{{ appointment.id }}" class="col btn btn-outline-success">Approve</a>
                                <a href="/appointment/refuse/{{ appointment.id }}" class="col btn btn-outline-primary">Refuse</a>
                                <a href="/appointment/remove/{{ appointment.id }}" class="col btn btn-outline-danger">Delete</a>
                            {% elseif canManage('ADMIN_ROLE') == false and appointment.status == 0 %}
                                <a href="/appointment/remove/{{ appointment.id }}" class="col btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}