{% block booking_form %}
    {% if hasFlashMessage('e') %}
        {{ flashMessage('e') }}
    {% endif %}

    <form method="POST" action="{{ formAction }}">
        <div class="form-group">
            <label for="text">Title:</label>
            <input type="text" name="bookingForm[title]" class="form-control" placeholder="This is a meeting subject">
        </div>
        <div class="form-group">
            <label for="text">Start at:</label>
            <input type="datetime-local" name="bookingForm[start_at]" class="form-control">
        </div>
        <div class="form-group">
            <label for="text">End at:</label>
            <input type="datetime-local" name="bookingForm[end_at]" class="form-control">
        </div>

        <div class="" style="margin-bottom: 15px;">
            <button class="btn btn-outline-primary" style="margin-bottom: 15px;" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-users" aria-hidden="true"></i> Add participants
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    {% for user in users %}
                        <span>
                            <input type="checkbox" name="bookingForm[participants][{{ user.id }}]" value="{{ user.id }}" /> {{ user.fullname }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-outline-info" />

    </form>
{% endblock %}
