{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Appointment Manager
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if loggedUser() != null %}
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <span style="margin-right: 10px; color: #e7e7e7; font-size: 14px; padding-top: 5px; font-weight: 400;">
                                <i class="fa fa-user" aria-hidden="true"></i> Connected User : {{ loggedUser().fullname }} [{{ loggedUser().roles }}]
                            </span>
                    </ul>
                    <a href="/logout" style="text-decoration: none; color: white;"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}
