{% extends "layout.html.twig" %}

{% block body %}
    <div class="container">
        {{ flashMessage('s') }}
        <div class="row">
            <div class="col">
                <h5><i class="fa fa-list" aria-hidden="true"></i> Today : {{ dateNow }}</h5>
                <hr />
                {% include 'sections/appointment_list.html.twig' with { 'appointments' : appointments } %}
            </div>
            <div class="col">
                <h5><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add new booking</h5>
                <hr />
                {% include 'sections/appointment_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

