<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
    <title>Login - Appointment Manager</title>
</head>
    <body>
    {% include 'sections/navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <br />
                <h3><i class="fa fa-sign-in" aria-hidden="true"></i> Login</h3>
                <hr />
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="{{ formAction }}">
                            <div class="form-group">
                                <label for="usernameInput"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Username</label>
                                <input type="text" name="loginForm[username]" class="form-control" id="usernameInput" placeholder="Enter you username">
                            </div>
                            <div class="form-group">
                                <label for="passwordInput"><i class="fa fa-lock" aria-hidden="true"></i> Password</label>
                                <input type="password" name="loginForm[password]" class="form-control" id="passwordInput" placeholder="Enter your password">
                            </div>
                            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>