{% extends "layout.html.twig" %}

{% block page_title %}
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ERROR 404
{% endblock %}

{% block body %}
    <div class="container center">
        <h4> The requested page was not found. :/</h4> <br />
        <h6><a href="/appointment"><i class="fa fa-external-link" aria-hidden="true"></i> Come back to the dashboard.</a></h6>
    </div>
{% endblock %}

