/* ================
 * Navbar
 * ================ */

.navbar-connected-user-item {
    margin-right: 10px;
    color: #e7e7e7;
    font-size: 14px;
    padding-top: 5px;
    font-weight: 400;
}

/* ================
 * Appointment List
 * ================ */

.bookings-per-day {
    list-style: none;
    padding: 0;
}
.booking-per-day-item {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 4px;
}

.time-area-hour{
    border-right: 1px solid #dbdbdb;
}
